
.home-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
.button{
  margin: auto;
  border: 3px solid yellow;
  padding: 8px;
  background: blue;
}
.button :hover{
  background-color: #FFB400;
}
.dev-img{
  margin-top: 3rem;
height: 23rem;
}
.dev-info{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.dev-name{
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: white 0px 0px 2px;
  font-weight: 700;
  font-style: oblique;
}
